/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-61829-gk2jsqnc version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc  .preview-content-holder  {
		
						margin-right: 30px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 1000px;
						
						padding-right: 0px;
						
						margin-top: 30px;
						
						margin-left: 30px;
						
						padding-top: 0px;
						
						margin-bottom: 30px;
						
						background-color: rgba(0, 0, 0, 0);
						
						border-color: rgb(197, 197, 197);
						
						padding-left: 0px;
							
		}
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc .item-content:not(.blocks_layout)  {
		
						background-color: rgb(246, 246, 246);
							
		}
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc .preview-divider  {
		
						margin-bottom: 15px;
						
						width: 100%;
							
		}
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc .inner-pic  {
		
						opacity: 0.4;
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc.master.item-box   {
		
						background-color: rgb(7, 124, 66);
							
		}
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc .preview-title  ,  .style-61829-c7j6nuaw .style-61829-gk2jsqnc .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 70rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						font-weight: bold;
						
						margin-top: 30px;
						
						margin-bottom: 0px;
						
						line-height: 1.0em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc.master.item-box   {
		
						padding-left: 0%;
						
						width: 100%;
						
						padding-right: 0%;
							
		}
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc .preview-item-links span  ,  .style-61829-c7j6nuaw .style-61829-gk2jsqnc #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(182, 182, 182);
						
						letter-spacing: 0.15em;
						
						padding-right: 20px;
						
						margin-top: 20px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						font-family: Arial;
						
						background-color: rgb(102, 168, 141);
							
		}
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc .preview-element.icon-source  {
		
						width: 80px;
						
						margin-bottom: 15px;
							
		}
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc .preview-link-img  {
		
						width: 33px;
						
						margin: 17px;
							
		}
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc .preview-body-holder  {
		
						max-width: 500px;
							
		}
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: middle;
							
		}
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc .preview-item-links span:hover  ,  .style-61829-c7j6nuaw .style-61829-gk2jsqnc .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(52, 68, 64);
							
		}
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc .inner-pic-holder  {
		
						background-color: rgb(52, 68, 64);
							
		}
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(102, 168, 141);
						
						letter-spacing: 0.2em;
						
						max-width: 600px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.6em;
							
		}
	
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc .middle_layout .helper-div  ,  .style-61829-c7j6nuaw .style-61829-gk2jsqnc .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1200px;
							
		}
	 .style-61829-c7j6nuaw .style-61829-gk2jsqnc .preview-subtitle  ,  .style-61829-c7j6nuaw .style-61829-gk2jsqnc .preview-body h2  { 
						line-height: 1.1em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(182, 182, 182);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-61829-gk2jsqnc #vbid-61829-ksuljmvm .preview-content-holder{
				
							text-align : right;
					
				} .style-61829-gk2jsqnc #vbid-61829-eizb4ezj .preview-content-holder{
				
							text-align : right;
					
				} .style-61829-gk2jsqnc #vbid-61829-ipdnbx57 .preview-content-holder{
				
							text-align : right;
					
				}


 .style-61829-gk2jsqnc #vbid-61829-eu0fqgxm.inner-pic{
				
							background-position : 44.6708% 48.2667%;
					
				} .style-61829-gk2jsqnc #vbid-61829-1seezgol.inner-pic{
				
							background-size : cover;
					
				}











 .style-61829-gk2jsqnc #vbid-61829-ksuljmvm .preview-content-wrapper{
				
							text-align : center;
					
				} .style-61829-gk2jsqnc #vbid-61829-eizb4ezj .preview-content-wrapper{
				
							text-align : center;
					
				} .style-61829-gk2jsqnc #vbid-61829-ipdnbx57 .preview-content-wrapper{
				
							text-align : center;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
