/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-61829-4o2or5sy version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 800px;
						
						padding-right: 0px;
						
						margin-top: 40px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 40px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy .preview-divider  {
		
						border-style: solid;
						
						border-color: rgb(255, 255, 255);
						
						border-bottom-width: 2px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						width: 10%;
							
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy .inner-pic  {
		
						opacity: 0.62;
						
						color: rgb(255, 255, 255);
						
		    			-webkit-filter: brightness(0.6);	
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -4%;
							
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy .multi_layout .helper-div.middle-center  {
		
						padding-left: 4%;
						
						width: 92%;
						
						padding-right: 4%;
							
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy .background-div  {
			
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy .preview-title  ,  .style-61829-c7j6nuaw .style-61829-4o2or5sy .preview-body h1  { 
						font-family: "Playfair Display";
						font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: -0.05em;
						
						font-weight: bold;
						
						margin-top: 10px;
						
						margin-bottom: 5px;
						
						line-height: 1.0em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy .preview-item-links span  ,  .style-61829-c7j6nuaw .style-61829-4o2or5sy #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 30px;
						
						border-color: rgba(0, 0, 0, 0);
						
						letter-spacing: 0.25em;
						
						padding-right: 70px;
						
						margin-top: 15px;
						
						padding-left: 70px;
						
						border-radius: 0px;
						
						padding-top: 30px;
						
						margin-bottom: 15px;
						
						border-width: 1px;
						
						background-color: rgb(7, 124, 66);
							
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy .preview-element.icon-source  {
		
						width: 80px;
						
						margin-bottom: 10px;
							
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy .preview-link-img  {
		
						width: 60px;
						
						margin: 10px;
							
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy .preview-item-links span:before  ,  .style-61829-c7j6nuaw .style-61829-4o2or5sy .effect-tester  { 
						background-color: rgb(50, 50, 50);
							
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy .preview-item-links span:hover  ,  .style-61829-c7j6nuaw .style-61829-4o2or5sy .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(50, 50, 50);
							
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy .inner-pic-holder  {
		
						background-color: rgb(41, 43, 46);
							
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 1000px;
						
						margin-top: 0px;
						
						margin-bottom: 0px;
						
						line-height: 1.4em;
							
		}
	
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy .preview-social-holder  {
		
						margin-bottom: 0px;
						
						margin-top: 0px;
							
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy .middle_layout .helper-div  ,  .style-61829-c7j6nuaw .style-61829-4o2or5sy .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1140px;
							
		}
	 .style-61829-c7j6nuaw .style-61829-4o2or5sy .preview-subtitle  ,  .style-61829-c7j6nuaw .style-61829-4o2or5sy .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 30rem - 10rem ) );
						margin-right: 0px;
						
						color: rgb(182, 182, 182);
						
						letter-spacing: 0.15em;
						
						font-weight: bold;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						font-family: 'Times New Roman';
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-61829-4o2or5sy #vbid-61829-1xxbmvot .preview-content-holder{
				
							text-align : center;
					
				}


 .style-61829-4o2or5sy #vbid-61829-wfvgdl76.inner-pic{
				
							background-size : cover;
					
				} .style-61829-4o2or5sy #vbid-61829-j3pbyogp.inner-pic{
				
							background-position : 49.4253% 72.7769%, 49.4253% 72.7769%;
					
				} .style-61829-4o2or5sy #vbid-61829-rjza5ims.inner-pic{
				
							background-size : contain;
					
				}













 .style-61829-4o2or5sy #vbid-61829-1xxbmvot .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
