/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-ca0faa57-zpojrdxe version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe.master.item-box   {
		
						background-color: rgb(41, 43, 46);
							
		}
	 .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe .preview-title  ,  .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe .preview-body h1  { font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						font-weight: bold;
						
						margin-bottom: 5px;
						
						font-family: Raleway;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe .inner-pic-holder  {
		
						background-color: rgb(41, 43, 46);
							
		}
	 .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 600px;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe .preview-item-links span  ,  .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe #sr-basket-widget *  { font-size:calc( 10px + ( 10rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(237, 237, 237);
						
						padding-bottom: 15px;
						
						border-color: rgb(99, 99, 99);
						
						letter-spacing: 0.1em;
						
						margin-right: 5px;
						
						margin-top: 10px;
						
						margin-left: 5px;
						
						padding-top: 15px;
						
						font-family: Arial;
						
						background-color: rgba(56, 110, 166, 0.77);
						
						padding-right: 20px;
						
						padding-left: 20px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe .preview-divider  {
		
						border-color: rgb(255, 255, 255);
						
						width: 50%;
							
		}
	 .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						
						width: 100px;
						
						margin-bottom: 25px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe .inner-pic  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe .preview-item-links span:hover  ,  .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(142, 142, 142);
						
						letter-spacing: 0em;
						
						max-width: 600px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
						
						background-color: rgba(255, 248, 0, 0);
							
		}
	
	 .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe  .preview-content-wrapper  {
		
						vertical-align: middle;
						
						text-align: center;
							
		}
	 .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe .middle_layout .helper-div  ,  .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe .preview-subtitle  ,  .style-fabf7049-1gqaxm7u .style-ca0faa57-zpojrdxe .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(142, 142, 142);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 0px;
						
						font-family: Raleway;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



 .style-ca0faa57-zpojrdxe #vbid-47686251-83b9tx6n .preview-content-holder{
				
							text-align : left;
					
				} .style-ca0faa57-zpojrdxe #vbid-eb4e5fc7-k6a2mhhh .preview-content-holder{
				
							text-align : left;
					
				} .style-ca0faa57-zpojrdxe #vbid-866bc0b3-k6a2mhhh .preview-content-holder{
				
							text-align : left;
					
				} .style-ca0faa57-zpojrdxe #vbid-c11421b6-k6a2mhhh .preview-content-holder{
				
							text-align : left;
					
				} .style-ca0faa57-zpojrdxe #vbid-27ae8655-k6a2mhhh .preview-content-holder{
				
							text-align : left;
					
				}











 .style-ca0faa57-zpojrdxe #vbid-47686251-83b9tx6n .preview-content-wrapper{
				
							text-align : left;
					
				} .style-ca0faa57-zpojrdxe #vbid-eb4e5fc7-k6a2mhhh .preview-content-wrapper{
				
							text-align : left;
					
				} .style-ca0faa57-zpojrdxe #vbid-866bc0b3-k6a2mhhh .preview-content-wrapper{
				
							text-align : left;
					
				} .style-ca0faa57-zpojrdxe #vbid-c11421b6-k6a2mhhh .preview-content-wrapper{
				
							text-align : left;
					
				} .style-ca0faa57-zpojrdxe #vbid-27ae8655-k6a2mhhh .preview-content-wrapper{
				
							text-align : left;
					
				}






/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
