/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-5e0c28f9-tq4wi5j8 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .preview.image-cover  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8  .preview-content-holder  {
		
						margin-bottom: 10px;
						
						text-align: center;
						
						margin-top: 10px;
						
						background-color: rgba(0, 0, 0, 0);
						
						max-width: 600px;
							
		}
	
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .blocks-preview-subtitle-holder  {
		
						max-width: 800px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .preview-divider  {
		
						border-color: rgb(255, 255, 255);
						
						margin-top: 5px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .inner-pic  {
		
		    			-webkit-filter: brightness(0.6);
						background-size: cover;
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 #pagination-holder  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(131, 131, 131);
						
						padding-bottom: 10px;
						
						border-color: rgb(131, 131, 131);
						
						padding-right: 20px;
						
						margin-top: 30px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						font-family: Times New Roman;
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .blocks-preview-item-links .Link:hover  {
		
						background-color: rgb(0, 0, 0);
						
						color: rgb(255, 255, 255);
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .background-div  {
			
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8.master.item-box   {
		
						background-color: rgb(246, 246, 246);
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .preview-title  ,  .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .preview-body h1  { 
						font-family: 'Playfair Display';
						font-size:calc( 10px + ( 27rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 5px;
						
						line-height: 1.4em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .preview-item-links span  ,  .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 10px;
						
						padding-left: 15px;
						
						border-radius: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 15px;
						
						font-family: Raleway;
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .blocks-preview-body  {
		
						margin-top: 10px;
						
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						margin-bottom: 10px;
						
						line-height: 1.5em;
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .stripe-background  {
		
						opacity: 0.5;
						
						margin-left: 0%;
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .preview-element.icon-source  {
		
						margin-left: 20px;
						
						width: 40px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						padding-right: 0px;
						
						margin-top: 35px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 25px;
						
						padding-left: 0px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .blocks-preview-subtitle  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 25rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.3em;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .preview-icon-holder  {
		
						text-align: left;
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8  .preview-content-wrapper  {
		
						vertical-align: middle;
						
						text-align: center;
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .preview-price  {
		
						color: rgb(248, 248, 248);
						
						font-family: Arial;
							
		}
	
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .blocks-preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .preview-item-links span:hover  ,  .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(48, 48, 48);
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .preview-item-links span:before  ,  .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .blocks-preview-title  {
		font-size:calc( 10px + ( 27rem - 10rem ) );
						font-family: 'Playfair Display';
						
						letter-spacing: 0.0em;
						
						margin-top: 15px;
						
						margin-bottom: 10px;
							
		}
	
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .blocks-preview-icon-holder .icon-source  {
		
						width: 50px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 400px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .blocks-preview-item-links .Link  {
		
						font-family: Abel;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						padding-bottom: 5px;
						
						letter-spacing: 0.15em;
						
						padding-right: 20px;
						
						margin-top: 10px;
						
						padding-left: 20px;
						
						border-radius: 0px;
						
						padding-top: 5px;
						
						margin-bottom: 10px;
						
						border-width: 1px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .preview-subtitle  ,  .style-fabf7049-1gqaxm7u .style-5e0c28f9-tq4wi5j8 .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.2em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Abel;
						
						background-color: rgba(255, 255, 255, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
