/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-fabf7049-1penv9id version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .title-holder  {
		
						text-align: center;
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .preview.image-cover  {
		
						background-color: rgba(255, 255, 255, 0);
						
						margin-top: 20px;
						
						margin-bottom: 20px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .Title  ,  .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .Body h1  { 
						color: #8a7373;
						
						letter-spacing: 0.15em;
						
						font-family: open-sans;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-weight: bold;
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 0px;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						padding-left: 0px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .blocks-preview-icon-holder .icon-source  {
		
						width: 70px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						border-width: 1px;
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						font-family: 'Times New Roman';
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .blocks-preview-item-links .Link:hover  {
		
						color: rgb(255, 255, 255);
						
						background-color: rgb(74, 74, 74);
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .background-div  {
		
						background-size: contain;
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id.master.item-box   {
		
						background-color: rgb(246, 246, 246);
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .preview-title  ,  .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						margin-top: 15px;
						
						margin-bottom: 0px;
						
						font-family: Montserrat;
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id.master.item-box   {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .preview-item-links span  ,  .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id #sr-basket-widget *  { 
						border-width: 0px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 15px;
						
						padding-left: 15px;
						
						border-radius: 19px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						font-family: Arial;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .blocks-preview-body  {
		
						margin-bottom: 10px;
						
						font-family: Arial;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						line-height: 1.4em;
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .stripe-background  {
		
						opacity: 0.16;
						
		    			-webkit-filter: grayscale(100%) brightness(0.8);
						margin-top: -50px;
						
						margin-left: -6%;
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .preview-element.icon-source  {
		
						padding-top: 2px;
						
						margin-bottom: 0px;
						
						margin-top: 0px;
						
						width: 100px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .blocks-preview-content-holder  {
		
						margin-bottom: 30px;
						
						text-align: center;
						
						margin-top: 30px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .Subtitle  ,  .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .blocks-preview-subtitle  {
		font-size:calc( 10px + ( 21rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.25em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Raleway;
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .preview-icon-holder  {
		
		    			-webkit-filter: invert(0%);filter: invert(0%);
						text-align: center;
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .blocks-preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .preview-item-links span:hover  ,  .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(41, 43, 46);
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .blocks-preview-divider  {
		
						border-bottom-width: 1px;
						
						width: 30%;
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .preview-item-links span:before  ,  .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .effect-tester  { 
						background-color: rgb(83, 83, 83);
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .inner-pic  {
		
						opacity: 0.96;
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .blocks-preview-title  {
		font-size:calc( 10px + ( 25rem - 10rem ) );
						color: rgb(41, 43, 46);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(140, 140, 140);
						
						max-width: 500px;
						
						margin-top: 15px;
						
						margin-bottom: 10px;
						
						line-height: 1.6em;
							
		}
	
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .blocks-preview-item-links .Link  {
		font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 5px;
						
						border-color: rgb(41, 43, 46);
						
						padding-right: 15px;
						
						margin-top: 10px;
						
						padding-left: 15px;
						
						border-radius: 18px;
						
						padding-top: 5px;
						
						margin-bottom: 10px;
						
						border-width: 0px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .preview-subtitle  ,  .style-fabf7049-1gqaxm7u .style-fabf7049-1penv9id .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(83, 83, 83);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






























 .style-fabf7049-1penv9id #vbid-fabf7049-9ckfimbk.inner-pic{
				
							background-size : contain;
					
				} .style-fabf7049-1penv9id #vbid-fabf7049-naib33rc.inner-pic{
				
							background-size : contain;
					
				} .style-fabf7049-1penv9id #vbid-fabf7049-phhpx7rr.inner-pic{
				
							background-size : contain;
					
				} .style-fabf7049-1penv9id #vbid-fabf7049-dobsjlyc.inner-pic{
				
							background-size : contain;
					
				} .style-fabf7049-1penv9id #element-4d5a330e0ded8a6.inner-pic{
				
							background-size : 74%;
					
				} .style-fabf7049-1penv9id #vbid-fabf7049-qksha0e3.inner-pic{
				
							background-size : contain;
					
				} .style-fabf7049-1penv9id #vbid-fabf7049-zmgj6eba.inner-pic{
				
							background-size : contain;
					
				} .style-fabf7049-1penv9id #vbid-fabf7049-dfhgmb7t.inner-pic{
				
							background-size : contain;
					
				} .style-fabf7049-1penv9id #vbid-fabf7049-lsl2mzjt.inner-pic{
				
							background-size : contain;
					
				} .style-fabf7049-1penv9id #vbid-fabf7049-vt4epjd8.inner-pic{
				
							background-size : cover;
					
				}








/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
