/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-bdda38b8-ncc5gzwo version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 20px;
						
						text-align: left;
						
						max-width: 400px;
						
						padding-right: 30px;
						
						margin-top: 30px;
						
						margin-left: 0px;
						
						padding-top: 20px;
						
						margin-bottom: 30px;
						
						background-color: rgba(0, 0, 0, 0);
						
						border-color: rgb(197, 197, 197);
						
						padding-left: 30px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .item-content:not(.blocks_layout)  {
		
						background-color: rgb(52, 68, 64);
							
		}
	 .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .preview-divider  {
		
						margin-bottom: 10px;
						
						border-color: rgb(255, 255, 255);
						
						margin-top: 5px;
						
						border-bottom-width: 2px;
						
						width: 75%;
							
		}
	 .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .inner-pic  {
		
						opacity: 0.8;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .preview-title  ,  .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .preview-body h1  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 25rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.0em;
						
						margin-top: 5px;
						
						margin-bottom: 5px;
						
						font-family: Montserrat;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .preview-item-links span  ,  .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(236, 236, 236);
						
						padding-bottom: 10px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.15em;
						
						padding-right: 20px;
						
						margin-top: 30px;
						
						padding-left: 20px;
						
						padding-top: 10px;
						
						border-width: 1px;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						
						margin-top: 0px;
						
						margin-bottom: 10px;
						
						width: 60px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .background-image-div  {
		
						color: rgb(0, 0, 0);
						
						opacity: 0.84;
							
		}
	 .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .preview-link-img  {
		
						width: 35px;
						
						margin: 5px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .preview-body-holder  {
		
						max-width: 500px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: middle;
							
		}
	 .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .preview-item-links span:hover  ,  .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .preview-element.Link.hover-tester  { 
						color: rgb(197, 197, 197);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .inner-pic-holder  {
		
						background-color: rgb(52, 68, 64);
							
		}
	 .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .preview-body  {
		
						line-height: 1.6em;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						color: rgb(89, 89, 89);
						
						letter-spacing: 0.2em;
						
						max-width: 600px;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .middle_layout .helper-div  ,  .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .preview-subtitle  ,  .style-fabf7049-1gqaxm7u .style-bdda38b8-ncc5gzwo .preview-body h2  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 11rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 30px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 1.3em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-bdda38b8-ncc5gzwo #vbid-bdda38b8-sa0qewkq .preview-content-holder{
				
							text-align : left;
					
				}


 .style-bdda38b8-ncc5gzwo #vbid-bdda38b8-axlxap31.inner-pic{
				
							background-position : 44.6708% 48.2667%;
					
				}










 .style-bdda38b8-ncc5gzwo #vbid-bdda38b8-sa0qewkq .preview-content-wrapper{
				
							text-align : left;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
